---
import CustomImage from "@/components/atoms/customImage.astro";
import toLink from "@/utils/toLink.ts";
type Item = {
  title: string;
  img: string;
  slug: string;
  category: {
    title: string;
    slug: string;
  };
}

interface Props {
  items: Item[];
}

const {items} = Astro.props;
---

<div class="widget recent-post-widget mb-30 wow fadeInUp">
 <h4 class="widget-title">Recientes</h4>
 <ul class="recent-post-list">
   {
     items?.map(({title, img, category, slug}) => (
       <li class="post-thumbnail-content">
        <CustomImage id={img} alt={title} width={90} height={90}/>
        <div class="post-title-date">
         <h6><a href={toLink(`blog/${category.slug}/${slug}`)}>{title}</a></h6>
         <span class="posted-on"><a href={toLink(`blog/${category.slug}`)}>{category.title}</a></span>
        </div>
       </li>
     ))
   }
 </ul>
</div>