---
import '@/styles/components/blog.scss';
import type {ItemPost} from "@/resources/defuaultTypes";
import LayoutPage from "@/layouts/layoutPage.astro";
import Paginate from "@/components/species/paginate.astro";
import CardPost1 from "@/components/atoms/cardPost1.astro";
import HeroVideo from "@/components/organisms/heroVideo.astro";
import CardPost2 from "@/components/atoms/cardPost2.astro";
import CardPost3 from "@/components/atoms/cardPost3.astro";
import {getPostsBlog} from "@/server/services/getPostsBlog.ts";
import Sidebar from "@/components/organisms/blog/sidebar.astro";

interface Props {
  config: {
    limit: number;
    page: number;
  },
  SEO: {
    title: string;
    description: string;
    keywords: string[];
  };
  heroData: {
    title: string;
    img?: string;
  };
  description?: string;
}

const {
  config,
  SEO,
  description,
  heroData
} = Astro.props as Props;


// Posts data
const {data: posts, error: errorPosts} = await getPostsBlog({...config});
const {items, total_count} = posts;

const tag = decodeURIComponent(Astro.url.searchParams.get("tag") ?? '');

const itemsFilteredByTag = tag ? items?.filter((item: ItemPost) => item.keywords_seo && item.keywords_seo.includes(tag)) : items;

if (errorPosts) {
  return Astro.redirect('/500');
}
---
<LayoutPage {...SEO} className="blog-page">
 <HeroVideo {...heroData as any}/>
 <section class="blog-standard-section pt-100 pb-70">
  <div class="container">
   <div class="row">
     {description && (
       <div class="col-12 pb-50">
        <div set:html={description}>
        </div>
       </div>
     )}
    <div class="col-xl-8 col-lg-7">
     <div class="blog-standard-wrapper">
       {
         itemsFilteredByTag ? itemsFilteredByTag?.map((item: ItemPost, index: number) => {
             const isThird = (index + 1) % 3 === 0;
             const isLast = index === itemsFilteredByTag.length - 1 && itemsFilteredByTag.length > 2;
             return (
               isThird ? (
                   <CardPost2 {...item}/>) :
                 isLast ? (
                     <CardPost3 {...item}/>) :
                   (
                     <CardPost1 {...item}/>)
             )
           }) :
           <div class="row text-center title pt-30 pb-30">
            <h5>No hay elementos para mostar</h5>
           </div>
       }
      <Paginate
        pageId="blog"
        pageActive={config.page}
        itemsByPage={config.limit}
        itemsLength={tag ? itemsFilteredByTag.length : total_count}
      />
     </div>
    </div>
    <Sidebar
      items={items}
    />
   </div>
  </div>
 </section>
</LayoutPage>