---
import {actions} from 'astro:actions';
import {directus} from "@/server/directus.ts";
import {readItems} from "@directus/sdk";

const itemsMenu = [
  {title: 'Menú', key: 'menu'},
  {title: 'Contact', key: 'contact'},
  {title: 'Finish', key: 'finish'},
];
---

<html>
<head>
 <title>Iniciar Migraciones</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <style>
   *{
     font-family: "Courier New";
     font-weight: 600;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   body{
     background: #f5f7fa;
     padding: 3rem 1rem;
     color: #232323;
   }

   .page{
     max-width: 1200px;
     margin: auto;
     background: #ffffff;
     padding: 2.5rem;
     border-radius: 20px;
     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
     margin-block: 50px;
   }

   .title{
     text-align: center;
     font-size: 3rem;
     margin-bottom: 3rem;
     font-family: Elephant, sans-serif;
     font-weight: 800;
     color: #1f2937;
   }

   .list{
     display: flex;
     justify-content: center;
     gap: 1rem;
     align-items: center;
     margin-bottom: 3rem;
   }

   .item{
     padding: 12px 25px;
     font-size: 1.4rem;
     color: #232323;
     border-radius: 12px;
     transition: 0.3s;
     border: 1px solid #d1d5db;
     background: #f9fafb;
   }

   .item:hover{
     transform: translateY(-2px);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
   }

   .item a{
     text-decoration: none;
     color: inherit;
     font-weight: bold;
   }

   .item.active{
     background: #007bff;
     color: #fff;
     border-color: transparent;
   }

   .item.active:hover{
     background: #066bda;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
   }

   .content h2{
     font-size: 1.7rem;
     margin-bottom: 1rem;
     color: #111827;
   }

   ul{
     margin-left: 1.5rem;
     margin-bottom: 2rem;
     line-height: 1.6;
   }

   code, .message{
     background: #f1f5f9;
     padding: 25px 10px;
     border-radius: 6px;
     display: block;
     margin: 10px 0;
     white-space: pre-wrap;
     font-size: 0.95rem;
     border: 1px solid #e5e7eb;
     letter-spacing: 1px;
     text-align: left;
   }

   p{
     margin: 1.5rem 0;
     font-size: 1.2rem;
   }

   .controls{
     margin: 1.5rem 0 2.5rem 0;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     gap: 2rem;
   }

   button{
     padding: 12px 25px;
     font-size: 1.1rem;
     background: #10b981;
     color: #fff;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.3s;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
     max-width: max-content;
   }

   button:hover{
     background: #0d9b6c;
     transform: translateY(-2px);
   }

   button:active{
     transform: translateY(1px);
   }

   .section{
     display: none;
     animation: fadeIn 0.5s ease-in-out;
   }

   .section.active{
     display: block;
   }

   @keyframes fadeIn{
     from{
       opacity: 0;
       transform: translateY(30px);
     }
     to{
       opacity: 1;
       transform: translateY(0);
     }
   }
 </style>
</head>

<body>
<div class="page">
 <h1 class="title">Iniciar Migraciones</h1>
 <p class="welcolme">Selecciona el modelo a iniciar:</p>
 <div class="list">
   {itemsMenu.map(item => (
     <div aria-label={item.key} class="item">
      <a href={`?migrate=${item.key}`} target="_self" rel="noopener noreferrer">{item.title}</a>
     </div>
   ))}
 </div>

 <div class="content">
  <div id="menu" class="section">
   <h2>Configuración previa</h2>
   <br>
   <ul>
    <li>
     En <code>/server/database/menu/fieldsMigration</code>
     <br>
     Configura los menús modificando <code>choicesPosition</code>
     <br>
     Ejemplo: (Estos son tambien los valores por defecto) deben contar con la misma estructura
     <code>
       {`const choicesPosition = [
  {text: 'Inicio', value: 0},
  {text: 'Superior', value: 1},
  {text: 'Inferior', value: 2},
  {text: 'Pie de página', value: 3}
];`}
     </code>
    </li>
   </ul>

   <p>Si todo está configurado correctamente, puedes iniciar la migración del modelo de Menú.</p>

   <div class="controls">
    <button id="migrateModelMenu">Crear Modelo Menú</button>
    <div id="migrateModelMenuMessage" class="message"></div>
   </div>

   <p>Luego podrás crear los campos del modelo.</p>
   <div class="controls">
    <button id="migrateFieldsMenu">Crear Fields</button>
    <div id="migrateFieldsMenuMessage" class="message"></div>
   </div>
  </div>
  <div id="contact" class="section">
   <h1>
    Migración Contact Info
   </h1>
   <p>
    Puedes iniciar la migración del modelo de Contact Info.</p>
   <br>
   <div class="controls">
    <button id="migrateModelInfoContact">Crear Modelo Contact Info</button>
    <div id="migrateModelInfoContactMessage" class="message"></div>
   </div>

   <p>
    Seguidamente Puedes crear los campos del modelo.
   </p>

   <div class="controls">
    <button id="migrateFieldsInfoContact">Crear Fields</button>
    <div id="migrateFieldsInfoContactMessage" class="message"></div>
   </div>
  </div>
  <div id="finish" class="section">
   <h1>¡Migración completada!</h1>
   <p>Has completado todas las migraciones necesarias.</p>
   <p>Para que no quede BASURA en el proyecto, elimina los siguientes Archivos:</p>
   <ul>
    <li><code>/src/actions</code></li>
    <li><code>/src/server/database</code></li>
    <li><code>/src/pages/migrations.astro</code></li>
    <p>Si tu sitio web no cuenta con buscador o Formularios, Puedes tambien eliminar</p>
    <li><code>/src/components/species/form.astro</code></li>
    <li><code>/src/pages/api/form</code></li>
    <li><code>/src/pages/api/search</code></li>
   </ul>
  </div>
 </div>
</div>
<script>
  import {actions} from "astro:actions";

  const migrate = (model) => {
    const button = document.querySelector(`#${model}`);

    if (!button) return;

    button.addEventListener("click", async () => {
      try {
        const res = await actions[model]?.({});

        const msgEl = document.querySelector(`#${model}Message`);
        const text = JSON.stringify(res?.data?.result?.res || "")
          .replaceAll("\\n", "")
          .replaceAll("\\", "");

        if (msgEl) msgEl.innerText = text;

        console.log("Migración OK:", res);
      } catch (e) {
        console.error("Error ejecutando acción:", e);
      }
    });
  };

  migrate("migrateModelMenu");
  migrate("migrateFieldsMenu");
  migrate("migrateModelInfoContact");
  migrate("migrateFieldsInfoContact");

  // Handler Btns
  window.addEventListener("load", () => {
    const params = new URLSearchParams(window.location.search);
    const activeItem = params.get("migrate");

    if (activeItem) {
      document.getElementById(activeItem)?.classList.add("active");
      document.querySelector(`[aria-label="${activeItem}"]`)?.classList.add("active");
      document.querySelector(".welcolme")?.style?.setProperty("display", "none");
    }
  });
</script>

</body>
</html>
