---
import type { Btn } from "@/resources/defuaultTypes";
import CustomImage from "@/components/atoms/customImage.astro";

interface Props {
  title?: string;
  summary?: string;
  img?: string;
  btn?: Btn;
}
const { title, summary, img, btn } = Astro.props;
---

<section class="cta-area cta-area-v1 pt-130 pb-160">
  <div class="container-1450">
    <div class="cta-wrapper dark-blue-bg">
      <div class="cta-img wow fadeInDown">
        <CustomImage
          id={img}
          alt={title ?? "Hablemos"}
          width={643}
          height={303}
        />
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-12">
          <div class="text-wrapper wow fadeInUp">
            <div class="section-title section-title-heading mb-55">
              <h2>
                <div set:html={title} class="fill-text" />
              </h2>
              <div set:html={summary} class="col-lg-8" />
            </div>
            {
              btn && (
                <a
                  href={btn?.link}
                  class="main-btn bordered-btn arrow-btn btn-heading-hover"
                >
                  {btn?.label}
                </a>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
