---
import CustomImage from "@/components/atoms/customImage.astro";
import readFile from "@/server/readFile.ts";
import toLink from "@/utils/toLink.ts";

interface Props {
  img: string;
  title: string;
  summary?: string;
  slug: string;
}

const {img, title, summary, slug} = Astro.props;

const modalImg = await readFile({id: img, name: title, params: {width: 500, height: 500}});
---
<div class="portfolio-style-one">
 <div class="img-holder">
  <CustomImage
    id={img}
    alt={title}
    width={370}
    height={370}
  />
  <a href={modalImg} class="portfolio-hover img-popup">
   <div class="hover-content">
    <i class="far fa-plus"></i>
   </div>
  </a>
 </div>
 <div class="text">
  <h3 class="title"><a href={toLink(slug)}>{title}</a></h3>
  <a href={toLink(slug)} class="cat-link">{summary}</a>
 </div>
</div>