---
import {nullable} from "astro:schema";
import CustomImage from "./customImage.astro";

interface Props {
  title?: string;
  number?: string | number;
  img?: string;
  is_percentage?: boolean;
}

const {title, number, img, is_percentage} = Astro.props;
---

<div class="col-lg-20 col-md-6 col-sm-12">
 <div class="counter-item mb-40 wow fadeInUp" data-wow-delay=".5s">
  <div class="icon">
   <CustomImage
     id={img}
     alt={title ?? "counter image"}
     width={100}
     height={100}
     class={title}
   />
  </div>
  <div class="text">
   <h2 class="number"><span>{number}</span>{Number(number) > 0 && (is_percentage ? "%" : "+")}</h2>
   <p>{title}</p>
  </div>
 </div>
</div>
