---
interface Props {
  title: string;
  body: string;
  parent: string;
  index: number;
}

const { title, body, index, parent } = Astro.props;
---

<div class="card">
  <div class="card-header" id={`heading${index}`}>
    <p class="mb-0">
      <a
        class="collapsed"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target={`#collapse${index}`}
        aria-expanded="false"
        aria-controls={`collapse${index}`}
      >
        {title}
      </a>
    </p>
  </div>
  <div id={`collapse${index}`} class="collapse" data-bs-parent={`#${parent}`}>
    <div class="card-body" set:html={body}/>
  </div>
</div>
