---
import {PUBLIC_RECAPTCHA_SITE_KEY as KEY} from "astro:env/client";

interface Props {
  id: string;
  formSettings?: {
    class?: string;
    [key: string]: any;
  };
}

const {formSettings, id}: Props = Astro.props;
---

<!-- This to loading && Message -->
<!-- La idea aqui es respetar esta estructura para que funcione el loading de envio  mensaje
    Si la plantilla tiene esto inlcluido entonces verificar el script de public/js/form.js -->

<div class="form" id={id + 'Container'}>
 <form {...formSettings} class={`form ${formSettings?.class}`} id={id}>
  <!-- Here your form dinamic -->
 </form>

 <div id="message">
  <p class="message">
  </p>
 </div>
 <div class="loading">
  <div class="loader"></div>
 </div>
</div>
<!-- Aquí el Scrip para manejar el envio del formulario (LA idea es separarlo despues)  -->
<script define:vars={{id, key: KEY}}>
  const handlerClasses = (els, classes, action) => {
    if (!els || !classes) return false;

    els.forEach((el) => {
      el.classList[action](classes);
    });
  };

  function submitForm(id, Key) {
    if (!id) return false;
    const form = document.getElementById(id);
    const messageContainer = document?.querySelector(`#${id}Container #message`);
    const message = document?.querySelector(`#${id}Container #message .message`);
    const loading = document?.querySelector(`#${id}Container .loading`);
    const loader = document?.querySelector(`#${id}Container .loader`);
    if (!form || !message || !messageContainer || !loading || !loader) return false;

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      message.textContent = "Enviando...";
      handlerClasses([messageContainer, loading, loader], "show", "add");

      const formData = new FormData(form);

      try {
        // Create token reCAPTCHA
        const token = await grecaptcha.execute(Key, {action: 'LOGIN'});
        formData.append("recaptchaToken", token); // append token to form data

      } catch (err) {
        console.error("Error generating reCAPTCHA token:", err);
      }

      try {
        const res = await fetch("/api/form/submit", {
          method: "POST",
          body: formData,
        });

        const data = await res.json();

        if (!res.ok) {
          message.textContent = "Error: " + (data?.message || "No se pudo enviar.");
          messageContainer.classList.add("show");
          handlerClasses([loader, loading], "show", "remove");
          return;
        }

        message.textContent = data.message || "Enviado correctamente.";
        messageContainer.classList.add("show");
        form.style.display = "none";

        handlerClasses([loader, loading], "show", "remove");
        form.reset();

      } catch (error) {
        message.textContent = "Error de servidor, intenta de nuevo.";
        messageContainer.classList.add("show");
        handlerClasses([loader, loading], "show", "remove");
      }
    });
  }

  window.addEventListener("DOMContentLoaded", () =>
    submitForm(id, key)
  )
</script>