---
import Form from "@/components/species/form.astro";
import {getFormData} from "@/server/services/getFormData.ts";
import InputForm from "@/components/atoms/inputForm.astro";
interface Props {
  title?: string;
  summary?: string;
}
const {title, summary} = Astro.props;
const {data, error} = await getFormData(4);
---

<div class="widget newsletter-widget mb-40 wow fadeInUp" data-wow-delay=".30s">
 <div class="newsletter-content">
   {data?.title && <h4 class="widget-title">{data?.title}</h4>}
   {data?.subtitle && <p>{data?.subtitle}</p>}
  <Form
    id="4"
    api="/api/form/submit"
  >
   <div class="form_group">
     {data?.fields?.map((field) => field?.type === 'email' && (
         <InputForm {...field} class="form_control" type="email" label={false}/>
       )
     )}
    <button class="main-btn">{data?.label}</button>
   </div>
  </Form>
 </div>
</div>
